

.IncomeTotal {
  background-color: rgb(0, 191, 184);
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  border-radius: 5px;
}
.addIncome {
  color:  rgb(0, 191, 184);
  margin-left: -200px;
}

.addExpense {
 color:  rgb(255, 48, 46); 
 margin-left: -230px;

}

.ExpenseTotal {
  background-color: rgb(255, 48, 46);
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  border-radius: 5px;

}

.IncomeExpenseTotal {
  display: flex;
  justify-content: space-around;
}


.incomeExpense {
  display: flex;
  width: 100vw;
  /* border: 2px solid red; */
  justify-content: space-around;
}

.transactions {
  list-style: none;
  margin: 5px;
  background-color: grey;
  justify-content: space-between;
  padding: 5px;
  
}
.transactions > span {
  display: inline-block;
  justify-content: space-between;

}

.transactions > p {
  display: inline-block;
}

.ShowEI {
  display: flex;
  justify-content: space-between;
}

.ShowIncome {
  background-color: rgb(0, 191, 184);
  /* border: 1px solid red; */
  height: 30px;
  width: 500px;
  margin-left: 80px;
  border-radius: 5px;
  padding: 20px 5px
  
}

.ShowExpense {
  width: 500px;
  /* border: 2px solid green; */
  background-color:  rgb(255, 48, 46);
  height: 30px;
  margin-right: 60px;
  border-radius: 5px ;
  margin-top: 15px;
  padding-left: 5px;
  padding: 20px 5px
}

.IncomeUL {
  width: 200px;
  margin-left: 80px;
}

.IncomeUL > li {
  display: flex;
  justify-content: space-between; 
  box-shadow: 0 0 10px grey;
}
